/* Add this CSS class to style the images */
.cat-image {
    margin: 10px;
    text-align: center;
  }
  
  /* Add this CSS class to style the images */
  .cat-image img {
    width: 500px;
    height: 500px;
    display: block;
    object-fit: cover;
  }